@media screen and (max-width: 1750px){
    .work-plin {
        transform: scale(0.8);
    }
}

@media screen and (max-width: 970px){
    .container {
        flex-direction: column-reverse;
        height: 80vh;
    }

    .text {
        text-align: center;
    }

    nav {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 885px){
    .lorem {
        display: none;
    }
}

@media screen and (max-width: 630px){
    nav {
        flex-direction: column;
        margin: 100px 0;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
        margin: 10px 0;
    }

    .nav-links > a {
        margin: 10px 0;
        font-size: 20px;
    }

    .logo > h1 {
        font-size: 35px;
    }

    .text {
        margin-right: 100px;
        margin: 0;
    }

    .work-plin {
        transform: scale(0.6);
        position: relative;
        right: 50px;
        top: -130px;
    }

    footer {
        flex-direction: column-reverse;  
        padding: 150px;
    }

    .footer-div{
        margin-top: 35px;
    }

    .footer-div > ul > li {
        font-size: 20px;
        text-align: center;
    }

    .h1-footer {
        text-align: center;
        margin: auto;
    }
}

@media screen and (max-width: 500px){
    .text {
        margin-right: 100px ;
    }

    .footer-div{
        margin-top: 5px;
    }

    .h1-footer {
        white-space: nowrap;
    }
}