/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

/* COLORS */
:root {
    --blue: #6C63FF;
    --black: #000000
}

/* STYLES */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
}

.nav-links > a {
    margin-left: 20px;
    color: black;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

section > .title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-point {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 400px;
}

.lorem {
    font-size: 20px;
    text-align: center;
    width: 400px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 8px;
}

.point > ul > li {
    margin-bottom: 20px;
    border: 1px solid var(--blue);
    width: 500px;
    padding: 15px;
    border-radius: 10px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    background-color: var(--blue);
    margin-top: 150px;    
}

.footer-div {
    display: flex;
    flex-direction: column;
}

.footer-div li {
    margin-top: 10px;
}