/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

/* COLORS */
:root {
    --blue: #6C63FF;
    --black: #000000
}

/* basic */
h1, p, li {
    font-weight: 800;
}

a {
    font-weight: 200;
}

nav > .logo {
    font-size: 18px;
}

.h1-footer {
    font-size: 40px;
}

span {
    color: var(--blue);
}

/* STYLES */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.nav-links > a {
    margin-left: 20px;
    color: black;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    margin: auto 300px;
}

.text {
    width: 400px;
    font-size: 20px;
}

section > .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.menu-point {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
}

.lorem {
    font-size: 20px;
    text-align: center;
    width: 400px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 8px;
    margin-left: 2%;
}

.point > ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 270px;
}

.point > ul > li {
    border: 2px solid var(--blue);
    width: 400px;
    padding: 13px;
    border-radius: 10px;
    font-size: 20px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 350px;
}

button {
    border-style: none;
    background-color: var(--black);
    color: var(--blue);
    border-radius: 15px;
    width: 400px;
    padding: 5px;
    font-size: 30px;
    font-weight: 900;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    background-color: var(--blue);
    margin-top: 150px;    
}

.footer-div {
    display: flex;
    flex-direction: column;
}

.footer-div li {
    margin: 10px 0;
    cursor: pointer;
}